.form-control-1{
    position: relative;
    width: 320px;
    margin: 20px 0 10px;
}

.form-control-1 input{
    display: block;
    width: 100%;
    border: 0;
    background: transparent;
    border-bottom: 2px solid #e5e5e5;
    color: #000;
    
    font-size: 20px;
}

.form-control-1 input:focus{
    outline: none;
}

.form-control-1 label{
    position: absolute;
    top: 0px;
    left: 0;

    color: black;
}

.form-control-1 label{
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-control-1 input:focus+label{
    transform: translateY(-30px);
}


/*Form-control-2*/

.form-control-2{
    position: relative;
    width: 320px;
    margin: 20px 0 10px;
}

.form-control-2 input{
    display: block;
    width: 100%;
    border: 0;
    background: transparent;
    border-bottom: 2px solid #e5e5e5;
    color: #000;
    
    font-size: 20px;
}

.form-control-2 input:focus{
    outline: none;
}

.form-control-2 label{
    position: absolute;
    top: 0px;
    left: 0;

    color: black;
}

.form-control-2 label{
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-control-2 input:focus+label{
    transform: translateY(-30px);
}


.section{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 3rem;
}

.conteudo{
    background: white;
    padding: 50px;
    border-radius: 13px;

    text-align: center;

    color: #ccc;
}

.conteudo h4{
    margin-bottom: 50px;
}

form button{
    margin-top: 30px;
    height: 50px;
    
}

a{
    display: block;
    padding-top: 20px;

    color: #000;
}

@media  (min-width: 399px) and (max-width: 455px){
    .section{
        padding: 20px;
    }
    
    .conteudo{
       width: 95%;
    }
    .form-control-1{
        width: 95%;
    }
    .form-control-2{
        width: 95%;
    }
}

@media  (min-width: 320px) and (max-width: 400px ){

    .section{
        padding: 20px;
    }
    
    .conteudo{
       width: 95%;
    }
    .form-control-1{
        width: 95%;
    }
    .form-control-2{
        width: 95%;
    }
    .conteudo h4{
        font-size: 2.4em;
    }
    
}